@tailwind base;
@tailwind components;
@tailwind utilities;

@layer  base {
    :root {
        --color: #0099aa;
    }
}


@layer components {
    .square {
        @apply w-16 h-16 bg-red-500;
        background-color: var(--color);
    }

    .square--pink {
        --color: deepPink;
    }

    .square--blue {
        --color: blue;
    }
}